<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h1>Hello World</h1>
<%= render 'users' %>

# <% @users.each do |user| %>
#     Hello <%= user.name %>!<br>
# <% end %>


# <%= Time.now %>